html, body {height:100%}

body {
  background-color: rgb(34, 53, 26);
  background-image: url(imgs/bg.jpg);
  background-repeat: repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  height: 100%;
    display: -ms-grid;
    display: grid;
    margin: 0px;
}

.cxBox {
  position: absolute;

  height: 30%;
  width: 80%;

  top:30%;
  left: 110%;
}

.downloadBtn {
  position: center;
  top: 10%;
}

.featuresList {
  color: #CBE2F5;
}
